a) Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('train.csv')

# Display basic information about the dataset including the presence of missing values
data_info = data.info()
data_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [2]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [3]:
# Drop 'New_Price' column
data.drop('New_Price', axis=1, inplace=True)

In [8]:
# Convert 'Mileage', 'Engine', and 'Power' to numeric after extracting numbers
# These columns contain units (kmpl, cc, bhp) and non-numeric values ('null bhp')
data['Mileage'] = pd.to_numeric(data['Mileage'].str.extract('(\d+\.\d+)')[0], errors='coerce')
data['Engine'] = pd.to_numeric(data['Engine'].str.extract('(\d+)')[0], errors='coerce')
data['Power'] = pd.to_numeric(data['Power'].str.extract('(\d+\.\d+|\d+)')[0], errors='coerce')

In [9]:
# Impute missing values with median for 'Seats'
data['Seats'].fillna(data['Seats'].median(), inplace=True)

# Impute missing values with mode for 'Mileage', 'Engine', and 'Power'
for column in ['Mileage', 'Engine', 'Power']:
    data[column].fillna(data[column].mode()[0], inplace=True)

# Verify changes
data_info_updated = data.info()
data_info_updated

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5847 non-null   float64
 9   Engine             5847 non-null   float64
 10  Power              5847 non-null   float64
 11  Seats              5847 non-null   float64
 12  Price              5847 non-null   float64
dtypes: float64(5), int64(3), object(5)
memory usage: 594.0+ KB

In [10]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.90,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [11]:
# Perform one-hot encoding for 'Fuel_Type' and 'Transmission' categorical variables
data_encoded = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'], drop_first=True)

# Display the first few rows to verify the changes
data_encoded.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,18.90,1199.0,88.70,5.0,4.50,False,True,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True

d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [12]:
# Calculate the current age of the car
data_encoded['Car_Age'] = 2024 - data_encoded['Year']

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [13]:
import pandas as pd

# 1. Select
selected_columns = ['Name', 'Year', 'Fuel_Type', 'Transmission', 'Mileage', 'Engine', 'Power', 'Seats', 'Price']
data_selected = data[selected_columns]

# 2. Filter
data_filtered = data_selected[data_selected['Power'] > 100]

# 3. Rename
data_renamed = data_filtered.rename(columns={
    'Year': 'Manufacture_Year',
    'Mileage': 'Mileage_kmpl',
    'Engine': 'Engine_CC',
    'Power': 'Power_bhp'
})

# 4. Mutate
data_renamed['Age'] = 2024 - data_renamed['Manufacture_Year']

# 5. Arrange
data_arranged = data_renamed.sort_values(by='Price', ascending=False)

# 6. Summarize with Group By
data_summary = data_arranged.groupby('Fuel_Type').agg({
    'Price': 'mean',
    'Mileage_kmpl': 'mean',
    'Engine_CC': 'mean',
    'Power_bhp': 'mean'
}).rename(columns={
    'Price': 'Average_Price',
    'Mileage_kmpl': 'Average_Mileage_kmpl',
    'Engine_CC': 'Average_Engine_CC',
    'Power_bhp': 'Average_Power_bhp'
}).reset_index()

print(data_summary)

  Fuel_Type  Average_Price  Average_Mileage_kmpl  Average_Engine_CC  \
0    Diesel      18.398268             15.898415        2208.745130
1    Petrol       9.897642             14.818420        1827.147406

   Average_Power_bhp
0         161.012208
1         144.840719